@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Saira+Extra+Condensed:wght@700&display=swap');

:root {
  --black: #1d1d1d;
  --white: #ffffff;
  --bg-color: #f7f1e0;
  --pale-blue: #95bae1;
  --dark-blue: #0e1d51;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    background-color: var(--bg-color);
  }

  .Main {
    @apply w-10/12 mobile:max-w-lg tablet:max-w-3xl desktop:max-w-5xl mx-auto py-4;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    @apply uppercase;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 700;
  }

  h1 {
    @apply text-6xl;
  }

  h2,
  h3,
  h4,
  h5 {
    @apply text-2xl;
  }

  p {
    @apply text-sm leading-relaxed;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  span {
    @apply text-base uppercase;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 700;
  }

  a {
    @apply text-base underline cursor-pointer;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
  }

  a:hover {
    @apply no-underline;
  }

  button {
    @apply py-4 px-24 hover:opacity-95 uppercase text-2xl;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 700;
  }
}
