.Header {
  @apply flex items-center justify-between;
}

.HeaderSocialLink {
  @apply mr-4;
}

.HeaderSocialIcon {
  color: var(--dark-blue);
}

.HeaderMenuWrapper {
  @apply flex items-center cursor-pointer;
}

.HeaderMenuText {
  color: var(--dark-blue);
  @apply mr-4;
}

.HeaderMenuIcon {
  color: var(--dark-blue);
}
