.Landing {
  @apply flex flex-col-reverse items-center justify-between py-12 tablet:flex-row;
}

.LandingText {
  color: var(--dark-blue);
  @apply max-w-lg flex-1;
}

.LandingText > * {
  @apply my-6;
}

.LandingHeading {
  text-shadow: -3px 3px var(--pale-blue);
}

.LandingHeadingSup {
  @apply mr-4;
}

.LandingButton {
  background-color: var(--dark-blue);
  color: var(--bg-color);
}

.LandingImage {
  @apply flex-1 max-w-xs mx-auto;
}
